# === ENTORNOS VIRTUALES ===
venv/
tsis/
.env
.env.*

# === ARCHIVOS DE CONFIGURACIÓN O TEMPORALES ===
*.sqlite3
*.db
*.pkl
*.h5
*.log
.DS_Store
*.swp
*.swo
*.bak
Thumbs.db
ehthumbs.db
Desktop.ini

# === PYTHON ===
__pycache__/
*.pyc

# === JUPYTER NOTEBOOK ===
.ipynb_checkpoints/
*.ipynb_checkpoints

# === NODE/REACT ===
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/

# === VITE ===
.vite/
.cache/

# === ARCHIVOS DE AUDIO/VIDEO TEMPORALES ===
config/audio_temp.wav
config/video_temp.mov
config/video_temp.mp4
config/selected_region.png

# === ETIQUETADO TEMPORAL ===
data/images/
data/labels/
training_data/


